.comunidade-slider {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    overflow: hidden;

    width: 100%;
    margin-top: 18px;
    margin-bottom: 46px;
}

.comunidade-slider-area {
    display: flex;
    margin-bottom: 65px;

    transition: 1.5s ease-in-out;
    transform: translateX(calc(-100% * var(--index-atual, 0)));
}

.comunidade-slide {
    display: flex;
    justify-content: center;
    align-items: center;

    min-width: 100%;
    height: 100%;
}

.comunidade-slide-nome-img {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.comunidade-slide-img {
    width: 500px;
    height: 232px;
    image-rendering: optimizeQuality;
}

.comunidade-slide-nome {
    text-align: center;
    
    width: 100%;
    padding-top: 7px;
    padding-bottom: 7px;

    color: var(--white);
    font: var(--text-16);
    background: var(--gradient-purple-blue);
}

.comunidade-slider-antes,
.comunidade-slider-depois {
    position: absolute;
    cursor: pointer;

    z-index: 1;
    font-size: 80px;

    color: var(--bright-sun);
}

.comunidade-slider-antes {
    right: 720px;
}

.comunidade-slider-depois {
    left: 720px;
}

.comunidade-slider-indicador {
    display: flex;
    position: absolute;

    gap: 39px;
    bottom: 0;
    left: 50%;

    transform: translateX(-50%);
}

.comunidade-slider-indica {
    cursor: pointer;
    
    width: 73px;
    height: 5px;

    background-color: var(--white);
}

.comunidade-slider-indica.active {
    background-color: var(--bright-sun);
}