.comunidade-slider-area {
    position: relative;
    width: 750px;
}

.comunidade-slider-area .swiper-container {
    width: 100%;
    height: 100%;
}

.comunidade-img-nome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    box-shadow: 5px 20px 10px rgba(0, 0, 0, 0.5) !important;
}

.comunidade-slide-img {
    cursor: pointer;
    width: 650px;
    height: 303px;

    border: solid 2px var(--bright-sun);
}

.comunidade-slide-nome {
    display: flex;
    justify-content: center;
    width: 650px;
    padding: 9px 288px;
    
    background-color: var(--night-rider);
    font: var(--text-24);
    color: var(--white);
}

.comunidade-img-nome .swiper-pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
}

.comunidade-img-nome .swiper-pagination-bullet {
    width: 50px;
    height: 50px;
    margin: 0 20px;

    border: solid 1px var(--bright-sun);
    border-radius: 50%;
}