.comunidade-slider-area {
    position: relative;
    width: 650px;
}

.comunidade-slider-area .swiper-container {
    width: 100%;
    height: 100%;
}

.comunidade-img-nome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
}

.comunidade-slide-img {
    cursor: pointer;
    width: 650px;
    height: 303px;

    border: solid 2px var(--bright-sun);
}

.comunidade-slide-nome {
    display: flex;
    justify-content: center;
    width: 650px;
    padding: 9px 288px;
    
    background-color: var(--night-rider);
    font: var(--text-24);
    color: var(--white);
}

.comunidade-slider-area .swiper-pagination {
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 41px;
    gap: 80px;
}

.comunidade-slider-area .swiper-pagination-bullet {  
    width: 50px;
    height: 50px;
    background-color: var(--fog);

    transition: 0.5s ease-in-out;
}

.comunidade-slider-area .swiper-pagination-bullet-active {
    background-color: var(--bright-sun);
}