.indication-area{
    display: flex;
    justify-content: center;
    width: 1367px;
    height: 1248px;
    padding: 0;
    margin: 0;
    background-color: black;
    /* relativo para o container absolute */
    position: relative; 
}

.indication-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;

    margin-top: 176px;
    margin-left: 41px;
    margin-right: 41px;
    gap: 193px;

    width: 1285px;
    height: 841px;
}

.content-information{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: 604px;
    height: 841px;
    
}

.content-text{
    display: flex;
    align-items: center;
    font: var(--text-24);
    text-align: center;
}

.indication-link{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

ul{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-add{
    color: var(--bright-sun);
    width: 111px;
    height: 102px;
    cursor: pointer;
}

.icon-film{
    color: var(--bright-sun);
    width: 266px;
    height: 218px;
    margin-bottom: 143px;
}

.icon-add:hover {
    color: var(--bright-sun);
    transform: scale(1.2);
}

.icon-add:active {
    color: var(--bright-sun);
    opacity: 50%;
}


