.usuario-area {
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    padding-bottom: 22px;

    background-image: url('../../assets/Images/User/user-background.png');
    background-color: var(--deep-koamaru);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
}

.usuario-infos {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: calc(100vw - 846px);
    height: 616px;
    margin-top: 45px;
    position: relative;
    padding-bottom: 22px;


    background-color: rgba(51, 51, 51, 0.8);
    border-radius: 15px;
}

.usuario-titulo {
    font: var(--header-32);
    color: var(--white);
    margin-top: 20px;
}

.usuario-infos-area {
    display: flex;
    align-items: center;
    gap: 26px;
    margin-top: 36px;
    flex-direction: column;
}

.usuario-foto-fav {
    display: flex;
    align-items: center;
    position: relative;
    flex-direction: column;
}

.usuario-foto {
    border: solid 2px var(--night-rider);
    border-radius: 50%;
    transition: 0.5s ease-in-out;
}

.usuario-foto:hover {
    border-color: var(--bright-sun);
}

.usuario-botao-mudar {
    position: absolute;
    top: 60%;
    left: 63%;
    margin-left: -15px;
    margin-top: -30px;
    cursor: pointer;
    padding: 9px 11px;
    border-radius: 30px;
    background-color: var(--bright-sun);
    font: var(--text-15);
    color: var(--white);
    transition: 0.5s ease-in-out;
    z-index: 1;
}

.usuario-botao-mudar:hover {
    filter: brightness(1.1);
    transform: scale(1.1);
}

.perfil-brush{
    font-size: 30px;
}

.user-name {
    width: 407px;
    height: 45px;
    outline: none;
    text-align: center;
    border-radius: 10px;
    /* background-color: var(--white); */
    font: var(--header-32);
    color: var(--white);
    transition: 0.5s ease-in-out;
}


.usuario-fav {
    cursor: pointer;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.usuario-fav-texto {
    font: var(--text-20);
    color: var(--white);
}   

.usuario-form {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 40px;
}

.usuario-input-infos {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 28px;
}

.usuario-mudar-info {
    display: flex;
    align-items: center;
    gap: 11px;
}

.usuario-mudar-info-btn {
    cursor: pointer;
    padding: 9px 28px;
    border-radius: 10px;
    background-color: var(--bright-sun);
    font: var(--text-15);
    color: var(--white);
    transition: 0.5s ease-in-out;
}

.usuario-mudar-info-btn:hover {
    filter: brightness(1.1);
    transform: scale(1.1);
}

.logo{
    display: flex;
    position: absolute;
    top: 525px;
    left: 5px;
}

@media (max-width: 430px) {
    .usuario-infos {
        width: calc(100vw - 30px);
        height: 100%;
    }

    .usuario-titulo {
        font: var(--header-24);
    }
    
    .usuario-infos-area {
        flex-direction: column;
        gap: 90px;
    }

    .usuario-foto {
        width: 90px;
        height: 90px;
    }

    .usuario-form {
        margin-top: -50px;
    }
}