.animes-populares {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: calc(100vw - 90px);

    border-radius: 20px;
    box-shadow: 10px 15px 15px rgba(0, 0, 0, 0.45);
    background: linear-gradient(rgba(51, 51, 51, 0.85), rgba(0, 0, 0, 0.85));    
}

.animes-populares-titulo {
    margin-top: 33px;
    font: var(--commu-title);
    color: var(--bright-sun);
}

.animes-pop-area {
    position: relative;
    width: 100%;
}

.animes-pop-area .swiper-container {
    max-width: 1000px;
    height: 100%;
}

.animes-pop-area .swiper-pagination-bullet {
    display: none;
}

.animes-pop-area .swiper-pagination-bullet-active {
    display: none;
}

.animes-pop-img-area {
    display: flex;
    align-items: center;
    margin-top: 40px;
    padding-left: 153px;
}

.animes-pop-img {
    cursor: pointer;
}

.animes-pop-antes,
.animes-pop-depois {
    position: absolute;
    cursor: pointer;
    top: 108px;
    z-index: 2;

    color: var(--bright-sun);
}

.animes-pop-antes {
    left: 0;
}

.animes-pop-depois {
    right: 0;
}