.home-botoes-area {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

    margin-top: 125px;
    gap: 34px;
}

.home-login-botao {
    align-items: center;
    cursor: pointer;

    width: 186px;
    height: 80px;
    border-radius: 20px;

    background: var(--gradient-purple-blue);
    color: var(--white);
    font: var(--text-32);

    transition: 0.5s ease-in-out;
}

.home-cadastro-botao {
    align-items: center;
    cursor: pointer;

    width: 186px;
    height: 80px;
    border-radius: 20px;

    background: var(--gradient-yellow);
    color: var(--white);
    font: var(--text-32);
    
    transition: 0.5s ease-in-out;
}


.home-login-botao:hover, .home-cadastro-botao:hover {
    transform: scale(1.1);
}