.contatos-area{
    box-sizing: border-box;
    text-decoration: none;
    border: none;

    margin: 0;
    padding: 0;
    width: 100%;

    background-color: var(--daisy-bush);
}
.contatos-body{
    padding-top: 80px;
}
