.space-card{
    display: flex;
    align-items: start;
    height: 100vh;

    width: 100vw;
    height: 704px;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-clip: border-box;
    background-blend-mode: soft-light;
    background-color: var(--deep-koamaru);
}

.space-content{
    flex-direction: column;
    margin-left: 20px;
}

.container-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font: var(--text-24);
    margin-right: 102px;
    margin-left: 54px;
    color: #ffff;
    padding-top: 35px;
    padding-bottom: 35px;
}

.tittle{
    font: var(--header-36);
    display: flex;
}

.ano{
    font: var(--text-24);
    padding-bottom: 29px;
}

.anime-atribute-box{
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 24px;
    font: var(--text-24);
    margin-right: 37px;
}

.anime-atribute p{
    font: var(--text-24);
}

.anime-point{
    display: flex;
    align-items: center;
    padding-top: 27px;
}

.nota{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
}

.anime-plot{
    margin-right: 210px;
}

.text-plot{
    font: var(--text-15);
    justify-content: center;
    text-align: justify;
    width: 492px;
}

.imgSin{
    width: 314px;
    height: 461px;
    margin-left: 75px;
    object-fit: cover;
    border: 2px;
    border-radius: 8px; /* Adiciona bordas arredondadas */
}

.star{
    color: var(--bright-sun);
    font-size: 47px;
}

.sinopse-icone-voltar {
    left: 28px;
}

.sinopse-icone-fechar{
    color: var(--bright-sun);
    font-size: 90px;
    transition: 0.5s ease-in-out;
}

.sinopse-icone-fechar:hover {
    color: var(--bright-sun);
    transform: scale(1.2);
}

.sinopse-icone-fechar:active {
    color: var(--bright-sun);
    opacity: 50%;
}



