.space-card{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aqua;
    width: 1366px;
    height: 704px;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-clip: border-box;
    background-blend-mode: soft-light;
    background-color: var(--deep-koamaru);
    margin-top: -109px;
}

.sinopse-card {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 1306px;
    height: 704px;
    margin-bottom: 79px;
    margin-top: 200px;

    color: #ffff;
}

.space-content{
    flex-direction: column;
    margin-left: 20px;
    margin-top: 63px;
}

.container-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font: var(--text-24);

    margin-right: 102px;
    margin-left: 54px;
}

.tittle{
    font: var(--header-36);
    display: flex;
}

.ano{
    font: var(--text-24);
    padding-bottom: 29px;
}

.anime-atribute-box{
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 24px;
    font: var(--text-24);
    margin-right: 37px;
    margin-bottom: 68px;
}

.anime-atribute p{
    font: var(--text-24);
}

.anime-point{
    display: flex;
    align-items: center;
    padding-top: 27px;
    margin-bottom: 56px;
}

.nota{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
}

.anime-plot{
    margin-right: 210px;
}

.text-plot{
    font: var(--text-15);
    justify-content: center;
    text-align: justify;
    width: 492px;
}

.imgSin{
    width: 314px;
    height: 461px;
    margin-left: 75px;
    padding-top: 63px;
    object-fit: cover;
    border: 2px;
    border-radius: 8px; /* Adiciona bordas arredondadas */
}

.star{
    color: var(--bright-sun);
    font-size: 47px;
}

.sinopse-icone-voltar {
    top: 28px;
    left: 28px;
    margin-top: 10px;
}

.sinopse-icone-fechar{
    color: var(--bright-sun);
    font-size: 90px;
}

.sinopse-icone-fechar:hover {
    color: var(--bright-sun);
    transform: scale(1.2);
}

.sinopse-icone-fechar:active {
    color: var(--bright-sun);
    opacity: 50%;
}

