.cadastro-campos {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.cadastro-input {
    width: 320px;
    height: 45px;
    border-radius: 10px;
    padding-left: 21px;

    border: solid 2px var(--night-rider);
    outline: none;

    background-color: var(--white);
    font: var(--text-16);

    transition: 0.3s ease-in-out;
}

.cadastro-input::placeholder {
    margin-top: 5px;
    
    font: var(--text-16);
    color: var(--fog);

    transition: 0.3s ease-in-out;
}

.cadastro-input:focus::placeholder {
    color: var(--bright-sun);
}

.cadastro-input:focus {
    border: solid 2px var(--bright-sun);
}

@media (max-width: 430px) {
    .cadastro-input {
        width: 230px;
        height: 40px;
    }

    .cadastro-input::placeholder {
        font: var(--text-15);
    }
}