.login-campos {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.login-input {
    width: 299px;
    height: 45px;
    border-radius: 10px;
    padding-left: 20px;

    outline: none;
    border: solid 2px var(--night-rider);
    background-color: var(--white);
    font: var(--text-16);

    transition: 0.5s ease-in-out;
}

.login-input:focus {
    border-color: var(--bright-sun);
}

.login-input::placeholder {
    font: var(--text-16);
    color: var(--fog);

    transition: 0.5s ease-in-out;
}

.login-input:focus::placeholder {
    color: var(--bright-sun);
}

@media (max-width: 426px) {
    .login-input {
        width: 230px;
        height: 40px;
    }

    .login-input::placeholder {
        font: var(--text-15);
    }
}