.comunidade-pagina {
    box-sizing: border-box;
    text-decoration: none;
    border: none;

    margin: 0;
    padding: 0;
    width: 100%;

    background-color: var(--deep-koamaru);
}

.comunidade-body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.comunidade-divisor {
    margin-top: 102px;
    width: 100%;
    height: 1px;
    background-color: var(--bright-sun);
}