.comunidade-pagina {
    box-sizing: border-box;
    text-decoration: none;
    border: none;

    margin: 0;
    padding: 0;

    background-color: var(--deep-koamaru);
}

.comunidade-body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.comunidade-inicio {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: 106px;
    padding-bottom: 95px;

    box-shadow: inset 850px 0 60px rgba(0, 0, 0, 85%);
    background-image: url("../../assets/Images/Communities/community-background-1.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-clip: border-box;
    background-blend-mode: soft-light;
    background-color: var(--deep-koamaru);
}

.comunidade-inicio-titulo {
    width: 676px;
    margin-top: 80px;

    text-shadow: 5px 10px 4px rgba(0, 0, 0, 75%);
    font: var(--app-section);
    color: var(--bright-sun);
}

.comunidade-inicio-p-area {
    display: flex;
    flex-direction: column;
    margin-top: 45px;
    gap: 20px;
}

.comunidade-inicio-p-icon {
    display: flex;
    align-items: center;
    gap: 21px;
}

.comunidade-inicio-p {
    font: var(--text-24);
    color: var(--white);
}

.comunidade-inicio-icon {
    font-size: 75px;
    color: var(--bright-sun);
}

.comunidade-search {
    display: flex;
    justify-content: center;
    margin-top: 112px;
}

.comunidades-opcoes-fundo {
    width: 100%;
    flex-direction: column;
    padding-bottom: 193px;
    padding-left: 134px;
    padding-right: 134px;

    background-image: url("../../assets/Images/Communities/community-background-3.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-clip: border-box;
    background-blend-mode: soft-light;
    background-color: var(--deep-koamaru);
}