.mudar-senha {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
    margin-left: 653px;
}

.mudar-texto-titulo {
    font: var(--header-64);
    color: var(--white);
}

.mudar-texto-subtitulo {
    font: var(--text-24);
}

@media (max-width: 430px) {
    .mudar-senha {
        display: flex;
        justify-content: center;
        margin-left: 0;
    }

    .mudar-texto-titulo {
        font: var(--header-40);
    }

    .mudar-texto-subtitulo {
        font: var(--text-16);
    }
}