.animes-page {
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    width: 100vw;
    height: auto;
    margin: 0;
    padding: 0;
    
    background-color: var(--deep-koamaru);

    overflow-x: hidden;
}