.ranking-area{
    display: grid;
    grid-template-columns: 1fr 240px 1fr;
    color: var(--white);
    gap: 80px;
}

.ranking-nome{
    text-align: center;
    font: var(--text-24);
}

.ranking-colocacao {
    width: 50px;
    height: 50px;
    text-align: center;
    padding-top: 7px;
    color: var(--white);
    font: var(--header-24);
}

.trofeu {
    font-size: 50px;
}



