.chat-header-area {
    position: fixed;
    text-align: center;
    width: 100px;
    height: 100vh;
    top: 0;
    left: 0;

    background: var(--gradient-black);
    border-right: solid 1px var(--bright-sun);
}