.adm-card {
    width: calc(100vw - 200px);
    height: 520px;

    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    cursor: pointer;
    border-radius: 20px;

    display: flex;
    justify-content: space-around;
    align-items: center;

    background-clip: border-box;
    background-blend-mode: multiply;
    background: var(--night-rider);
    transition: 0.3s ease;
    /* Adicionando transição para a opacidade */
}

.adm-card:hover {
    background-color: transparent;
    filter: brightness(1.1);
    transform: scale(1.05);

    opacity: 0.9;
    /* Opacidade ao passar o mouse */
}

.adm-card:active {
    opacity: 0.7;
    /* Opacidade ao pressionar */
}

p {
    color: aliceblue;
    font: var(--app-section);
}

.admPerfil {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.admPerfil p {
    font: var(--app-section);
    text-shadow: 2px 2px 8px black;
}

.admPerfil > a {
    color: var(--bright-sun);
}

@media (max-width: 430px) {
    .adm-card {
        align-items: center;
        flex-direction: column;
        width: calc(100vw - 70px);
        height: 320px;
    }

    .imgAdm {
        width: 80px;
        height: 80px;
    }

    .admPerfil {
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;  
    }

    .admPerfil > p {
        font: var(--app-text);
    }

    .admPerfil > a {
        color: var(--bright-sun);
    }
}