.avancar-botao-area {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 49px;
}

.avancar-botao {
    width: 150px;
    height: 45px;
    
    cursor: pointer;
    border-radius: 10px;

    background: var(--gradient-yellow);
    color: var(--white);
    font: var(--text-20);

    transition: 0.5s ease-in-out;
}

.avancar-botao:hover {
    filter: brightness(1.1);
    transform: scale(1.1);
}

.avancar-botao:active {
    opacity: 70%;
}

@media (max-width: 430px) {
    .avancar-botao-area {
        margin-top: 15px;
    }
    
    .avancar-botao {
        width: 120px;
        height: 40px;
        font: var(--text-16);
    }
}