.comunidade-chat {
    display: flex;
    justify-content: center;
    flex-direction: row;

    background-image: url("../../assets/Images/Communities/community1.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
    background-color: var(--deep-koamaru);
}