.cadastro-botao-area {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 98px;
}

.cadastro-botao {
    width: 150px;
    height: 45px;
    border-radius: 10px;

    cursor: pointer;
    border: none;

    background: var(--gradient-yellow);
    color: var(--white);
    font: var(--text-20);

    transition: 0.5s ease-in-out;
}

.cadastro-botao:hover {
    transform: scale(1.1);
    filter: brightness(1.1);
}

.cadastro-botao:active {
    opacity: 70%;
}