*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.sinopse-vote{
    width: 100vw;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-clip: border-box;
    background-blend-mode: soft-light;
    background-color: var(--deep-koamaru);
}

.content-vote{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 132px ;

    flex-direction: column;
    
}

.title-vote{
    background: -webkit-linear-gradient( left, rgba(251, 221, 136, 1), rgba(237, 185, 34, 1));
    background: linear-gradient( to right, rgba(251, 221, 136, 1), rgba(237, 185, 34, 1));

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    font: var(--app-title);

    display: flex;
    justify-content: center;
    align-items: center;
}

.vote-like{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 269px;
    margin-top: 140px;
}

.likeDown, .likeUp{
    color: var(--bright-sun);
    font: var(--header-64);
    cursor: pointer;

}


