.comunidade-escolha {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;

    width: 1100px;
    margin-top: 102px;
    border-radius: 20px;
    background: var(--gradient-black);
}

.comunidade-escolha-titulo {
    margin-top: 13px;

    font: var(--header-40);
    color: var(--white);
}

.comunidade-escolha-slider-area {
    display: flex;
    align-items: center;
    overflow: hidden;

    margin-top: 43px;
    padding-bottom: 65px;
}

.comunidade-escolha-antes,
.comunidade-escolha-depois {
    position: absolute;
    cursor: pointer;

    font-size: 80px;

    color: var(--bright-sun);

    transition: 0.5s ease-in-out;
}

.comunidade-escolha-antes:hover, 
.comunidade-escolha-depois:hover {
    transform: scale(1.2);
}

.comunidade-escolha-antes {
    right: 1020px;
}

.comunidade-escolha-depois {
    left: 1020px;
}

.comunidade-escolha-slider {
    display: flex;

    min-width: 900px;
    max-width: 900px;

    gap: 18px;

    transition: transform 0.5s ease;
}

.comunidade-escolha-img {
    cursor: pointer;

    width: 220px;
    height: 114px;
}