

.sinopse-manssager{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 45px;
    border-bottom:  3px solid var(--bright-sun);
    padding-bottom: 45px;
    width: 790px;
}

.manssager-img{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-right: 39px;
    
}

.manssager-img p{
    font: var(--text-15);
    text-shadow: 2px 2px 8px black;
}

.manssager-user{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-right:500px;
    gap: 20px;
}

.Perfil2{
    width: 59px;
    height: 60px;
}

.user-tittle{
    font: var(--text-20);
    text-shadow: 2px 2px 8px black;
}

.user-time{
    font: var(--text-15);
    text-shadow: 2px 2px 8px black;
}

