.home-page {
    box-sizing: border-box;
    text-decoration: none;
    border: none;

    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;

}

.home-header {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;

    width: 100vw;
    height: 100vh;
    gap: 50px;

    background: url("../../assets/Images/Home/home-background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-clip: border-box;
    background-blend-mode: multiply;

    background-color: var(--deep-koamaru);
}

.home-header-logo {
    image-rendering: optimizeQuality;

    width: 420px;
    transition: 0.5s ease-in-out;
}

.home-header-logo:hover {
    transform: scale(1.1);
}

.home-header-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home-header-titulo {
    font: var(--app-title);
    color: var(--white);
    border-bottom: solid 10px;
}

.home-header-intro {
    margin-top: 50px;

    font: var(--text-32);
    color: var(--bright-sun);
}

.home-body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    background-color: var(--deep-koamaru);
}

.home-body-welcome {
    cursor: default;

    margin-top: 85px;

    font: var(--header-64);
    color: var(--white);

    transition: 0.5s ease-in-out;
}

.home-body-welcome:hover {
    transform: scale(1.1);
    color: var(--bright-sun);
}

.home-intro-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

    width: 1206px;
    gap: 70px;
    margin-top: 125px;
    padding-bottom: 162px;

    border-bottom: solid 5px var(--bright-sun);
}

.home-intro-1-1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-intro-1-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    gap: 50px;
}

.home-intro-1-text {
    text-align: center;

    font: var(--header-48);
    color: var(--white);
}

.home-intro-1-icon {
    font-size: 200px;

    transition: 0.5s ease-in-out;
}

.home-intro-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

    width: 1206px;
    gap: 70px;
    margin-top: 172px;
    padding-bottom: 162px;
}

.home-intro-2-1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-intro-2-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    gap: 50px;
}

.home-intro-2-text {
    text-align: center;

    font: var(--header-48);
    color: var(--white);
}

.home-intro-2-icon {
    font-size: 200px;

    transition: 0.5s ease-in-out;
}

.home-intro-1-icon:hover, .home-intro-2-icon:hover {
    transform: scale(1.1);
    color: var(--bright-sun);
}

.home-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    background: var(--gradient-black);
}

.home-footer-elementos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

    padding: 30px 402px;
    gap: 83px;
}

.home-footer-integrantes-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

    padding-right: 41px;
    gap: 30px;

    border-right: solid 3px var(--white);
}

.home-footer-icon {
    font-size: 110px;
    padding: 5px;
    border-radius: 50%;

    background-color: var(--fog);
}

.home-footer-integrantes {
    font: var(--header-40);
    color: var(--white);
}

.home-footer-nomes {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.home-footer-nomes ul {
    display: flex;
    flex-direction: column;

    gap: 5px;

    list-style: none;
    
    color: var(--white);
}