.header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    position: fixed;

    z-index: 2;
    width: 100%;

    background: var(--gradient-black);
}

.header-area {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

    padding: 20px 52px;
    gap: 280px;
}

.header-logo {
    cursor: pointer;

    width: 57px;

    transition: 0.5s ease-in-out;
}

.header-logo:hover {
    transform: scale(1.1);
    filter: brightness(1.1);
}

.header-logo:active {
    opacity: 50%;
}

.header-paginas {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

    gap: 124px;
}

.header-pagina {
    color: var(--white);
    font: var(--text-20);

    transition: 0.5s ease-in-out;
}

.header-pagina.active {
    color: var(--bright-sun);
    font: var(--text-20);
}

.header-pagina:hover {
    color: var(--bright-sun);
}

.header-usuario {
    cursor: pointer;

    width: 57px;
}