.header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    position: relative;

    z-index: 2;
    width: 100%;

    background: var(--gradient-black);
}

.header-area {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

    padding: 14px 52px;
}

.header-logo-area {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-right: 195px;
    gap: 8px;

    transition: 0.5s ease-in-out;
}

.header-logo-area:hover {
    transform: scale(1.1);
    filter: brightness(1.2);
}

.header-logo {
    width: 57px;

    transition: 0.5s ease-in-out;
}

.header-logo-texto {
    font: var(--app-text);
    background: var(--gradient-purple-blue);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.header-paginas {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

    gap: 162px;
}

.header-pagina {
    color: var(--white);
    font: var(--text-16);
    background: linear-gradient(var(--bright-sun), var(--bright-sun)) bottom / 0% 2px no-repeat;

    transition: 0.5s ease-in-out;
}

.header-pagina.active {
    color: var(--bright-sun);
    background-size: 100% 2px;
}

.header-pagina:hover {
    color: var(--bright-sun);
    background-size: 100% 2px;
}

.header-usuario {
    cursor: pointer;
    width: 57px;
    margin-left: 304px;

    border: solid 2px var(--night-rider);
    border-radius: 50%;

    transition: 0.5s ease-in-out;
}

.header-usuario:hover {
    border-color: var(--bright-sun);
}

@media (max-width: 430px) {
    .header {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .header-area {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 20px 20px;
    }

    .header-logo-area {
        display: flex;
        justify-content: center;
        margin: auto;
    }

    .header-logo {
        width: 45px;
    }

    .header-logo-texto {
        font: var(--app-text);
    }   

    .header-paginas {
        margin-top: 15px;
        gap: 50px;
    }

    .header-pagina {
        font: var(--text-15);
    }

    .header-usuario {
        position: absolute;
        top: 25px;
        width: 40px;
        height: 40px;
    }
}