.animes-area {
    box-sizing: border-box;
    text-decoration: none;
    border: none;

    margin: 0;
    padding: 0;
    width: 100%;

   
}

.animes-body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.ranking-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 92px;
}

.list1{
    background: var(--gradient-black);
    border-radius: 50px;
}

.list2{
    background: var(--gradient-black);
    border-radius: 50px;
}
