.animes-area {
    display: flex;
    flex-direction: column;
    align-items: center;

    /* background-color: var(--deep-koamaru); */
    background: linear-gradient(to right, #0f0c29, #302b63, #24243e); 
}

.animes-body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.animes-inicio {
    display: flex;
    flex-direction: column;
    width: 100vw;
    padding-left: 106px;
    padding-bottom: 95px;

    box-shadow: inset 850px 0 60px rgba(0, 0, 0, 50%);
    background-image: url("../../assets/Images/Animes/anime-background-1.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-clip: border-box;
    background-blend-mode: soft-light;
    background-color: var(--deep-koamaru);
}

.animes-inicio-titulo {
    width: 676px;
    margin-top: 80px;

    text-shadow: 5px 10px 4px rgba(0, 0, 0, 75%);
    font: var(--app-section);
    color: var(--bright-sun);
}

.animes-inicio-p-area {
    display: flex;
    flex-direction: column;
    margin-top: 45px;
    gap: 20px;
}

.animes-inicio-p-icon {
    display: flex;
    align-items: center;
    gap: 21px;
}

.animes-inicio-icon {
    font-size: 75px;
    color: var(--bright-sun);
}

.animes-inicio-p {
    font: var(--text-24);
    color: var(--white);
}

.animes-search {
    display: flex;
    justify-content: center;
    margin-top: 90px;
}

.animes-rank-area {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    
    border-bottom: solid 1px var(--bright-sun);
    background-image: url('../../assets/Images/Animes/anime-background-2.png');
    background-color: var(--deep-koamaru);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-clip: border-box;
    background-blend-mode: multiply;
    padding-bottom: 118px;
}

.animes-lanca-rank {
    display: flex;
    align-items: start;
    margin-top: 207px;
    gap: 44px;
}

.titulo-card{
    color: #fff;
    padding-top: 5px;
    padding-bottom: 10px;
    font: var(--header-40);
}

.list1{
    background: var(--gradient-black);
    border-radius: 50px;
}

.list2{
    background: var(--gradient-black);
    border-radius: 50px;
}

.anime-voltar-inicio {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    padding-top: 150px;

    background-color: transparent;
}

.anime-voltar-inicio-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 18px;
}

.anime-voltar-fim-pag {
    font: var(--header-48);
    color: var(--white);
}

.anime-voltar-voltar-pag {
    cursor: pointer;
    font: var(--header-64);
    color: var(--bright-sun);

    transition: 0.5s ease-in-out;
}

.anime-voltar-voltar-pag:hover {
    transform: scale(1.1);
}

.animes-genero-lista {
    display: flex;
    flex-direction: column;
    margin-top: 53px;
}

.animes-genero-lista > li {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.animes-genero-area {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 100px;
    /* background-color: var(--deep-koamaru); */
    background: linear-gradient(to right, #0f0c29, #302b63, #24243e); 
}

.animes-genero-titulo {
    font: var(--app-section);
    /* color: var(--bright-sun); */

    background: -webkit-linear-gradient( left, rgba(251, 221, 136, 1), rgba(237, 185, 34, 1));
    background: linear-gradient( to right, rgba(251, 221, 136, 1), rgba(237, 185, 34, 1));

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

@media (max-width: 430px) {
    .animes-inicio {
        align-items: center;
        padding-left: 10px;
        padding-bottom: 40px;
        box-shadow: inset 0px 150px 60px rgba(0, 0, 0, 85%);

        background-size: cover;
        background-position: center;
    }

    .animes-inicio-titulo {
        text-align: center;
        font: var(--app-text);
        margin-top: 40px;
    }

    .animes-inicio-p-icon {
        width: 90%;
    }

    .animes-inicio-p-area {
        gap: 10px;
    }

    .animes-inicio-p {
        font: var(--text-16);
    }

    .animes-inicio-icon {
        font-size: 45px;
    }

    .animes-search {
        margin-top: 40px;
    }

    .animes-lanca-rank {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 70px;
    }

    .anime-voltar-inicio {
        display: flex;
        flex-direction: column;
    }

    .anime-voltar-fim-pag {
        font: var(--text-24);
    }

    .anime-voltar-voltar-pag {
        font: var(--header-36);
    }

    .anime-voltar-inicio-img {
        width: 270px;
        height: 270px;
    }

    .animes-genero-titulo {
        font: var(--ranking-title);
    }
}