.imagem-perfil-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 404px;
    height: 402px;

    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: var(--deep-koamaru);
}

.imagem-perfil-escolher {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imagem-perfil {
    width: 160px;
    height: 160px;
    border: solid 2px var(--night-rider);
    border-radius: 50%;

    transition: 0.5s ease-in-out;
    opacity: 1;
}

.imagem-perfil.fade-out {
    opacity: 0;
}

.imagem-perfil.fade-in {
    opacity: 1;
}

.imagem-perfil-botao {
    cursor: pointer;
    margin-top: 23px;
    padding: 3px 30px;

    border-radius: 5px;
    font: var(--text-16);
    color: var(--white);
    background: var(--gradient-yellow);
}