.misterio-area{
    box-sizing: border-box;
    text-decoration: none;
    border: none;

    margin: 0;
    padding: 0;
    width: 100%;

    background: url("../../../../assets/Images/GenreBackground/Misterio.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-clip: border-box;
    background-position: bottom;
    background-blend-mode: multiply;
    overflow: hidden;

    background-color: var(--deep-koamaru);
}

.misterio-body{
    box-sizing: border-box;
    text-decoration: none;
    border: none;

    margin: 0;
    padding: 0;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.misterio-back{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 190px;
    margin-left: 50px;
    margin-right: 552px;
}

.icon-return{
    font-size: 100px;
    
    transition: 0.5s ease-in-out;
}

.button-return:hover {
    color: var(--bright-sun);
    transform: scale(1.2);
}

.button-return:active {
    color: var(--bright-sun);
    opacity: 50%;
}

.misterio-icon-voltar{
    display: flex;
    justify-content: center;
    margin-right: 413px;
    margin-left: 50px;
}

.misterio-tittle{
    font: var(--app-section);
    font-size: 90px;
    text-shadow: 2px 2px 8px black;
}

.button-return{
    color: rgb(221, 222, 223);
}

.text_pagination{
    display: flex;
    list-style: none;
    font: var(--text-16);
    color: var(--bright-sun);
    margin-bottom: 293px;
}

.pagination{
    color: blueviolet;
    font: var(--header-40);
   
}

.pagination {
    display: flex;
    list-style: none;
    padding: 0;
  }
  
  .page-item {
    margin: 0 5px;
  }
  
  .page-link {
    padding: 8px 12px;
    border: 2px solid var(--bright-sun);
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    
  }
  
  .page-link:hover {
    background-color: #e9ecef;
  }
  
  .active .page-link {
    background-color: var(--bright-sun);
    color: white;
    border-color: var(--chetwode-blue);
  }
  
