.pesquisa-area {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    position: relative;
    width: 600px;
    height: 66px;
    border-radius: 10px;

    background-color: var(--deep-koamaru);

    transition: 0.5s ease-in-out;
}

.pesquisa-icon {
    position: absolute;
    left: 15px;

    font-size: 42px;
}

.pesquisa-barra {
    text-align: center;
    outline: none;

    width: 300px;
    height: 33px;
    
    font: var(--text-16);
    color: var(--white);
}

.pesquisa-barra::placeholder {
    color: var(--chetwode-blue);
}

.pesquisa-limpar {
    position: absolute;
    cursor: pointer;

    right: 60px;
    font-size: 30px;
}

.pesquisa-barra::-webkit-search-cancel-button {
    display: none;
}

@media (max-width: 430px) {
    .pesquisa-area {
        width: 310px;
        height: 55px;
    }

    .pesquisa-icon {
        font-size: 28px;
    }

    .pesquisa-barra {
        width: 230px;
        height: 33px;
        font: var(--text-15);
    }

    .pesquisa-limpar {
        right: 20px;
        font-size: 28px;
    }
}