.pesquisa-area {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    position: relative;
    width: 600px;
    height: 66px;
    border-radius: 10px;
    
    background-color: var(--deep-koamaru);
    
    transition: 0.5s ease-in-out;
}

.pesquisa-icon {
    position: absolute;
    left: 15px;
    
    font-size: 42px;
}

.pesquisa-barra {
    text-align: center;
    outline: none;
    
    width: 300px;
    height: 33px;
    
    font: var(--text-16);
    color: var(--white);
}

.pesquisa-barra::placeholder {
    color: var(--chetwode-blue);
}

.pesquisa-limpar {
    position: absolute;
    cursor: pointer;
    
    right: 60px;
    font-size: 30px;
}

.pesquisa-barra::-webkit-search-cancel-button {
    display: none;
}

.pesquisa-titulo {
    font: var(--text-24);
    color: var(--white);
}

.pesquisa-sugestoes {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: auto;
    top: 72px;
    left: 0;
    width: 100%;
    max-height: 497px;
    padding: 32px 50px;
    z-index: 5;

    background-color: var(--deep-koamaru);
    border-radius: 10px;
}

.pesquisa-item {
    cursor: pointer;
    display: flex;
    align-items: start;
    gap: 30px;
    padding: 13px 30px;

    background-color: var(--night-rider);
    border-radius: 10px;
    transition: 0.5s ease-in-out;
}

.pesquisa-item:hover {
    transform: scale(1.1);
}

.pesquisa-imagem {
    width: 190px;
    height: 99px;
}

.pesquisa-nome {
    font: var(--text-16);
    color: var(--white);
}

.pesquisa-msg-default {
    color: var(--white);
}

.pesquisa-msg {
    font: var(--text-24);
}

.pesquisa-sem-sugestoes {
    display: flex;
    align-items: center;
    gap: 30px;
}

.pesquisa-sem-img {
    width: 120px;
    height: 120px;
}

.pesquisa-sem-msg {
    font: var(--text-24);
    color: var(--white);
}

@media (max-width: 430px) {
    .pesquisa-area {
        width: 310px;
        height: 55px;
    }
    
    .pesquisa-icon {
        font-size: 28px;
    }
    
    .pesquisa-barra {
        width: 230px;
        height: 33px;
        font: var(--text-15);
    }
    
    .pesquisa-limpar {
        right: 20px;
        font-size: 28px;
    }
}