.imagem-escolha-area {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    position: relative;

    width: 305px;
    height: 87px;
    margin-top: 24px;
    border-radius: 10px;

    background-color: var(--daisy-bush);
}

.imagem-escolha-slider {
    position: relative;
    width: 100%;
}

.imagem-escolha-slider .swiper-container {
    width: 100%;
    height: 100%;
}

.imagem-escolha-img-area {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
}

.imagem-escolha-slider-img {
    cursor: pointer;
    border: solid 1px var(--night-rider);
    border-radius: 50%;

    transition: 0.5s ease-in-out;
}

.imagem-escolha-slider-img:hover {
    border: solid 1px var(--bright-sun);
}

.imagem-escolha-slider .swiper-pagination-bullet {
    display: none;
}

.imagem-escolha-slider .swiper-pagination-bullet-active {
    display: none;
}

.imagem-escolha-antes,
.imagem-escolha-depois {
    position: absolute;
    cursor: pointer;
    top: 18px;

    font-size: 45px;
    z-index: 1;
    transition: 0.5s ease-in-out;
}

.imagem-escolha-antes:hover,
.imagem-escolha-depois:hover {
    transform: scale(1.15);
    color: var(--bright-sun);
}

.imagem-escolha-antes {
    left: -3px;
}

.imagem-escolha-depois {
    right: -3px;
}

@media (max-width: 426px) {
    .imagem-escolha-area {
        width: 180px;
        height: 60px;
        margin-top: 10px;
    }

    .imagem-escolha-slider-img {
        width: 40px;
        height: 40px;
    }

    .imagem-escolha-antes,
    .imagem-escolha-depois {
        top: 3px;
        font-size: 35px;
    }
}