.imagem-escolha-area {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    position: relative;

    width: 305px;
    height: 87px;
    margin-top: 24px;
    border-radius: 10px;

    background-color: var(--daisy-bush);
}

.imagem-escolha-slider {
    position: relative;
    width: 100%;
}

.imagem-escolha-slider .swiper-container {
    width: 100%;
    height: 100%;
}

.imagem-escolha-img-area {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
}

.imagem-escolha-slider-img {
    cursor: pointer;
    width: 75px;
    border: solid 1px var(--night-rider);
    border-radius: 50%;
}

.imagem-escolha-slider .swiper-pagination-bullet {
    display: none;
}

.imagem-escolha-slider .swiper-pagination-bullet-active {
    display: none;
}

.swiper-button-prev,
.swiper-button-next {
    position: absolute;
    cursor: pointer;
    top: 18px;

    z-index: 1;
    font-size: 45px;
    color: black;
}

.swiper-button-prev {
    left: -3px;
}

.swiper-button-next {
    right: -3px;
}
