.imagem-escolha-area {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    position: relative;

    width: 305px;
    height: 87px;
    margin-top: 24px;
    border-radius: 10px;

    background-color: var(--daisy-bush);
}

.imagem-escolha-antes,
.imagem-escolha-depois {
    cursor: pointer;
    position: absolute;
    top: 24px;
    font-size: 45px;
}

.imagem-escolha-antes {
    right: 263px;
}

.imagem-escolha-depois {
    left: 263px;
}
