.cadastro-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.cadastro-area-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 2;

  width: 465px;
  height: 670px;
  border-radius: 20px;
  margin-top: 49px;
  background-color: rgba(86, 66, 167, 0.8);

  transition: 0.5s ease-in-out;
}

.cadastro-area-lateral {
  z-index: 1;
}

.cadastro-area-titulo {
  margin-top: 29px;

  text-shadow: 0px 7px 0px rgba(0, 0, 0, 0.25);
  color: var(--white);
  font: var(--header-40);
}

.cadastro-icone-fechar-area {
  position: absolute;
  top: 28px;
  left: 28px;
}

.cadastro-icone-fechar {
  cursor: pointer;
  font-size: 40px;

  color: black;

  transition: 0.5s ease-in-out;
}

.cadastro-icone-fechar:hover {
  color: var(--bright-sun);
  transform: scale(1.2);
}

.cadastro-icone-fechar:active {
  color: var(--bright-sun);
}

.cadastro-input-area {
  display: flex;
  flex-direction: column;
  gap: 47px;
  margin-top: 60px;
}

.cadastro-mudar-img {
  cursor: pointer;
  position: absolute;
  top: 296px;
  left: -32px;

  transition: 0.5s ease-in-out;
}

.cadastro-mudar-icon {
  font-size: 60px;
  background-color: var(--bright-sun);
  border-radius: 50%;
}

.cadastro-mudar-img:hover {
  transform: scale(1.1);
  filter: brightness(1.1);
}

.cadastro-lateral {
  opacity: 0;
  position: absolute;
  width: 404px;
  top: 183px;
  left: 0;
  z-index: 0;

  transform: translateX(0);
  transition: 0.8s ease;
}

.cadastro-lateral.visivel {
  opacity: 1;
  transform: translateX(-100%);
}

.cadastro-botao-area {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 98px;
}

@media (max-width: 426px) {
    .cadastro-area-main {
      width: 305px;
      height: 480px;
    }

    .cadastro-area-titulo {
      margin-top: 30px;
      font: var(--header-32);
    }

    .cadastro-icone-fechar {
      font-size: 30px;
    }

    .cadastro-input-area {
      gap: 20px;
      margin-top: 30px;
    }

    .cadastro-mudar-img {
      margin-top: 10px;
      top: -20px;
      left: 45%;
    }

    .cadastro-mudar-icon {
      font-size: 32px;
    }

    .cadastro-lateral {
      top: 49px;
      left: 30px;
    }

    .cadastro-lateral.visivel {
      transform: translateY(-100%);
    }

    .cadastro-botao-area {
      margin-top: 50px;
    }
}
