.cadastro-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    width: 465px;
    height: 670px;
    border-radius: 20px;
    margin-top: 49px;

    background-color: rgba(86, 66, 167, 0.8);
}

.cadastro-area-titulo {
    margin-top: 29px;

    text-shadow: 0px 7px 0px rgba(0, 0, 0, 0.25);
    color: var(--white);
    font: var(--header-40);
}

.cadastro-icone-fechar-area {
    position: absolute;
    top: 28px;
    left: 28px;
}

.cadastro-icone-fechar {
    cursor: pointer;
    font-size: 40px;
    
    color: black;

    transition: 0.5s ease-in-out;
}

.cadastro-icone-fechar:hover {
    color: var(--bright-sun);
    transform: scale(1.2);
}

.cadastro-icone-fechar:active {
    color: var(--bright-sun);
}

.cadastro-input-area {
    display: flex;
    flex-direction: column;
    gap: 47px;
    margin-top: 60px;
}

.cadastro-mudar-img {
    cursor: pointer;
    position: absolute;
    top: 296px;
    left: -32px;
    z-index: 1;

    transition: 0.5s ease-in-out;
}

.cadastro-mudar-icon {
    font-size: 48px;
    background-color: var(--bright-sun);
    border-radius: 50%;
}

.cadastro-mudar-img:hover {
    transform: scale(1.1);
    filter: brightness(1.1);
}

.cadastro-lateral {
    position: absolute;
    top: 134px;
    left: -404px;
    transition: left 0.5s ease;
}

.cadastro-lateral.visible {
    left: 0;
}

