.login-area {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 465px;
    height: 670px;

    border-radius: 20px;
    background-color: rgba(86, 66, 167, 0.8);
}

.login-area-titulo {
    margin-top: 28px;

    color: var(--white);
    font: var(--header-40);
    text-shadow: 0 4px 0 #333333; 
}

.login-icone-voltar {
    position: absolute;
    top: 28px;
    left: 28px;
}

.login-icone-fechar {
    cursor: pointer;
    font-size: 40px;
    
    color: black;

    transition: 0.5s ease-in-out;
}

.login-icone-fechar:hover {
    color: var(--bright-sun);
    transform: scale(1.2);
}

.login-icone-fechar:active {
    color: var(--bright-sun);
    opacity: 50%;
}

.login-input-area {
    display: flex;
    flex-direction: column;
    margin-top: 94px;
    gap: 40px;
}

.login-esquecer-senha {
    cursor: pointer;
    margin-top: 31px;

    font: var(--text-15);
    color: var(--bright-sun);

    transition: 0.5s ease-in-out;
}

.login-esquecer-senha:hover {
    transform: scale(1.1);
}

.login-pergunta {
    margin-top: 29px;
    font: var(--text-16);
    color: var(--white);
}

.login-cadastro-link {
    text-decoration: none;
    color: var(--bright-sun);
}

.login-cadastro {
    font: var(--header-32);
    background: linear-gradient(var(--bright-sun), var(--bright-sun)) bottom / 0% 2px no-repeat;

    transition: 0.5s ease-in-out;
}

.login-cadastro:hover {
    filter: brightness(1.1);
    background-size: 100% 2px;
    color: var(--bright-sun);
}

.login-divisor {
    width: 388px;
    height: 2px;
    margin-top: 37px;
    background-color: var(--chetwode-blue);
}


.login-input {
    width: 299px;
    height: 45px;
    border-radius: 10px;
    padding-left: 20px;

    outline: none;
    border: solid 2px var(--night-rider);
    background-color: var(--white);
    font: var(--text-16);

    transition: 0.5s ease-in-out;
}

.login-botao {
    margin-top: 48px;
    width: 150px;
    height: 45px;
    
    cursor: pointer;
    border-radius: 10px;

    background: var(--gradient-yellow);
    color: var(--white);
    font: var(--text-20);

    transition: 0.5s ease-in-out;   
}

@media (max-width: 430px) {
    .login-area {
        width: 295px;
        height: 480px;
        margin-top: -50px;
    }

    .login-area-titulo {
        margin-top: 15px;
        font: var(--header-32);
    }

    .login-icone-fechar {
        font-size: 30px;
    }

    .login-input-area {
        margin-top: 50px;
        gap: 20px;
    }

    .login-esquecer-senha {
        margin-top: 13px;
    }

    .login-pergunta {
        margin-top: 10px;
        font: var(--text-15);
    }

    .login-cadastro {
        font: var(--text-24);
    }

    .login-divisor {
        display: none;
    }
}