.login-area {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 462px;
    height: 682px;
    border-radius: 37px;
    background-color: var(--daisy-bush);
    position: absolute;
}

.login-area-titulo {
    border-bottom: solid 3px;
    margin-top: 35px;
    margin-bottom: 50px;

    color: var(--white);
    font: var(--header-48); 
}

.login-icone-voltar {
    position: relative;
    top: 40px;
    right: 175px;
}

.login-icone-fechar {
    cursor: pointer;
    font-size: 40px;
    
    color: var(--night-rider);

    transition: 0.5s ease-in-out;
}

.login-icone-fechar:hover {
    color: var(--bright-sun);
    transform: scale(1.2);
}

.login-icone-fechar:active {
    color: var(--bright-sun);
    opacity: 50%;
}

h2{
    padding-top: 10px;

    color: var(--bright-sun);
    font-size: 32px;
}

p{
    padding-top: 20px;
    color: var(--fog);
}

.contPassword{
    color: var(--bright-sun);
    margin-right:120px;
    padding: 10px;
}


