.anime-card {
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(100vw - 174px);
  height: 360px;
  margin: 10px;
  border-radius: 20px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  background-color: var(--deep-koamaru);
  cursor: pointer; 
  
  transition: 0.5s ease-in-out;
 
}

.anime-card:hover {
  filter: brightness(1.1);
  transform: scale(1.03);
  opacity: 0.9;
}

.anime-card:active {
  opacity: 70%;
}

.anime-title {
  color: var(--white);
  font: var(--header-64);
}









