.bemVindos-area{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: 106px;
    padding-bottom: 95px;

    box-shadow: inset 850px 0 60px rgba(0, 0, 0, 50%);
    background: url("../../../assets/Images/Contatos/bemVindoBackground.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-clip: border-box;
    background-blend-mode: soft-light;
    background-color: var(--deep-koamaru);
    
}

.boasVindas-titulo p{
    width: 676px;
    margin-top: 80px;

    text-shadow: 5px 10px 4px rgba(0, 0, 0, 75%);
    font: var(--app-section);
    color: var(--bright-sun);
}

.boasVindas-cont {
    display: flex;
    flex-direction: column;
    margin-top: 45px;
    gap: 20px;
}

.contate-nos,
.admins {
    display: flex;
    align-items: center;
    gap: 21px;
}

.contate-nos > p,
.admins > p {
    font: var(--text-24);
    color: var(--white);
}

.boasVindas-icon{
    color: var(--bright-sun);
}

