.animes-lancamentos {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: calc(100vw - 780px);
    padding: 20px 35px;

    border-radius: 20px;
    box-shadow: 10px 15px 15px rgba(0, 0, 0, 0.45);
    background: linear-gradient(rgba(51, 51, 51, 0.85), rgba(0, 0, 0, 0.85));
}

.lancamentos-titulo {
    margin-top: 20px;
    font: var(--commu-title);
    color: var(--bright-sun);
}

.lancamentos-slider {
    position: relative;
    width: 90%;
}

.lancamentos-slider .swiper-container {
    width: 100%;
    height: 100%;
}

.lancamentos-img-area {
    display: flex;
    align-items: center;
    margin-top: 50px;
    width: 100%;
    padding-bottom: 20px;
}

.lancamentos-img {
    cursor: pointer;
    transition: 0.5s ease-in-out;
}

.lancamentos-img:hover {
    transform: scale(1.1);
}

.lancamentos-slider .swiper-pagination-bullet {
    display: none;
}

.lancamentos-slider .swiper-pagination-bullet-active {
    display: none;
}

.lancamentos-slider-antes,
.lancamentos-slider-depois {
    position: absolute;
    cursor: pointer;
    top: 138px;
    z-index: 10;

    color: var(--bright-sun);
    transition: 0.5s ease-in-out;
}

.lancamentos-slider-antes {
    left: -70px;
}

.lancamentos-slider-depois {
    right: -70px;
}

.lancamentos-slider-antes:hover,
.lancamentos-slider-depois:hover {
    transform: scale(1.1);
}